body {
  background-color: darkslategray;
  border: 3px solid coral;
  margin: 10px;
  padding: 30px;
}
h1 {
  color: yellow;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 150%;
}
p {
  color: white;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 100%;
}
